My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://hnrss.org/newest?points=5",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "9433cc8b-2567-4a57-9865-801bb997a4b3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "resource": "Default",
        "operation": "Scrape A Url And Get Its Content",
        "url": "={{ $json.link }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-firecrawl.fireCrawl",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "097e7307-b446-4057-9807-cf0b7ce66f71",
      "name": "FireCrawl",
      "credentials": {
        "fireCrawlApi": {
          "id": "3j76BLC9RNZrYdJJ",
          "name": "FireCrawl account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "d7150bcb-52ed-44da-be3d-b036160a4d6d",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "You are a news assistant, I need you regular the data crawled from websites into a news bulletin."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        880,
        0
      ],
      "id": "25260bd5-be11-4aa9-a76e-a6d946c1f6d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        220
      ],
      "id": "c708cd9f-d94f-47c5-9885-1bb7b89a43f7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fsSIUwfdeTdffwnP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1240,
        0
      ],
      "id": "f30987f1-e6bb-447f-b2a1-f75b5e5f62a6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.join(\"\\n\\n\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1460,
        0
      ],
      "id": "e6a909e1-4d91-4333-af70-9f9483f559ad",
      "name": "Markdown"
    },
    {
      "parameters": {
        "fromEmail": "ahstudy2020@gmail.com",
        "toEmail": "andrewhuang200808@gmail.com",
        "subject": "News briefs",
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1680,
        0
      ],
      "id": "d885b16d-2a81-4a35-ab45-6ce5a0cf65a6",
      "name": "Send Email",
      "webhookId": "38226800-d891-41de-b2bb-7b72ddaa6303",
      "credentials": {
        "smtp": {
          "id": "ONLwUl1uuygZKnse",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4deb974b-f1de-4707-8957-a8407eb12b1d",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "FireCrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "355485c7-69da-47fb-9a63-1eb9a9d3a2a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cefdca6615cfdf1277a7778f9f1352fdd1569fb763e5f146bf2eb73bcd578035"
  },
  "id": "GlaEWcu7KtuhqIy2",
  "tags": []
}